.photographers__image-container {
  display: block;
  margin: 0 0 42px;
  padding: 0;
  width: 97px;
  height: 97px;
  overflow: hidden;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .photographers__image-container {
    order: 1;
    margin-bottom: 16px;
  }
}
