.video__subtitle {
  position: relative;

  margin: 0 30px 30px 30px;
  padding: 0;

  width: 60%;

  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;

  color: #fff;
}

@media screen and (max-width: 768px) {
  .video__subtitle {
    margin: 0px 24px 24px;
    width: calc(100% - 44px);
  }
}
