.video {
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto 102px;
  /* padding: 0 148px 0; */
}

@media screen and (max-width: 1280px) {
  .video {
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .video {
    padding: 0 24px;
  }
}

@media screen and (max-width: 375px) {
  .video {
    padding: 0 16px;
    margin-bottom: 64px;
  }
}
