.footer__link {
  margin: 0 18px 0 0;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
  text-decoration: none;
  transition: .3s;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 720px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 32px;
  }

  .footer__link:last-child {
    margin-bottom: 0;
  }
}
