.lead__title {
  margin: 0 auto 32px;
  font-family: Inter, Arial, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
}

@media screen and (max-width: 720px) {
  .lead__title {
    font-size: 60px;
    line-height: 1.11;
  }
}

@media screen and (max-width: 820px) {
  .lead__title {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 475px) {
  .lead__title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 1.1;
  }
}
