.video__title {
  box-sizing: border-box;
  position: relative;
  margin: 0 30px 18px 30px;
  padding: 0;
  width: 60%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 39px;

  color: #fff;
}

@media screen and (max-width: 768px) {
  .video__title {
    font-size: 24px;
    line-height: 26px;
    width: calc(100% - 44px);
    margin: 8px 24px 12px;
  }
}

/* @media screen and (max-width: 768px) {
  .video__title {

  }
} */
