.cover {
  margin: 0 auto 92px;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 0 48px 0;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 420px) {
  .cover {
    margin-bottom: 64px;
  }
}
