.photographers__comment {
  width: calc(100% / 3);
}

@media screen and (max-width: 768px) {
  .photographers__comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 382px;
  }
}
