.place {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows:  1fr;

  grid-gap: 40px 48px;

  margin: 0 auto 80px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-gap: 32px 48px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-gap: 28px 48px;
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 500px) {
  .place {
    margin-bottom: 48px;
    grid-template-columns: 100%;
    grid-template-rows: min-content 1fr;
    grid-gap: 32px 0;
  }
}
