.content-title {
  margin: 0 0 48px 0;
  padding: 0;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;

  color: #fff;
}

@media screen and (max-width: 768px) {
  .content-title {
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 31px;
  }
}

@media screen and (max-width: 768px) {
  .content-title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
    /* font-size: 42px;
    line-height: 46px;
    margin-bottom: 31px; */
  }
}
